<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/vendors/jquery-2.0.3.js"></script>
    <h1><%= title %></h1>
    <p>Welcome to <%= pageName %></p>
    <p>Hello</p>
  </body>
</html>