<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/vendors/jquery-2.0.3.js"></script>
    <script>
      $(document).ready(function () {
        var socket  = io.connect('http://localhost');

        var usuario = prompt("NOMBRE DE USUARIO: ");

        $("#enviar").click(function() {
          var texto = document.getElementById('texto');

          socket.emit('chatCliente', { elUsuario: usuario, elTexto: texto.value });
        });

        socket.on('chatServidor', function (data) {
          var conversacion = document.getElementById('conversacion');

          conversacion.innerHTML +=  "<br /><strong>" + data.elUser + "</strong>: " + data.elText;
        });
      });
    </script>

    <h1><%= title %></h1>
    <p>Welcome to <%= pageName %></p>
    <div id="chat">
        <textarea id="texto" name="texto"></textarea><br />
        <button id="enviar" name="enviar">Enviar</button>
        <br /><br />
        <div id="conversacion" name="conversacion"></div>
    </div>

  </body>
</html>